* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  background-color: hsl(212, 45%, 89%);
  margin-top: 10rem;
  padding: 10rem;

  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;

  box-shadow: 2.4rem 2.4rem 4.8rem rgba(0, 0, 0, 0.095);
}

.qr-container {
  background-color: #fff;
  padding: 1.2rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 9px;

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.qr-img {
  display: block;
  width: 100%;
  border-radius: 9px;
}

.qr-caption {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.qr-subheading {
  color: #333;
  font-weight: 700;
  font-size: 2rem;
}

.qr-description {
  font-size: 1.5rem;
  color: #999;
  font-weight: 500;
}

.attribution {
  color: #333;
}

.attribution a:link,
.attribution a:visited {
  text-decoration: none;
  color: currentColor;
  border-bottom: 1px solid hsl(218, 44%, 22%);
}
